@import url('https://fonts.googleapis.com/css2?family=Neucha&family=Permanent+Marker&family=Rowdies&family=Ubuntu:wght@300;400&display=swap');
body{
   background-color: #fafafa;
}
/*---Nav-Bar---*/
.navbar {
   background-color: #151712;
   font-family: "Ubuntu", sans-serif;
   z-index: 2;
}

hr {
   margin: auto;
   width: 70vh;
   padding: 2px;
   border-radius: 55%;
}

/*---HERO-IMG-&-Τext---*/
.hero {
   height: 75vh;

   /* Perfect Full Page Background Image https://css-tricks.com/perfect-full-page-background-image/ */
   background: url(../images/hero/abel3.jpg) no-repeat center center fixed;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
}

.hero-text {
   text-align: center;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   color: #dbdbdb;
   text-shadow: 10px 5px 7px black;
   line-height: 1.0;
   z-index: 1;
   
}

.lead {
   font-family: "Ubuntu", sans-serif;
   letter-spacing: 1px;
   text-align: right;
   font-weight: 400;
}

.hero-h1-text {
   font-family: "Permanent Marker", sans-serif;
   font-size: 50px;
   margin-bottom: 10px;
   text-align: right;
   letter-spacing: 2px;
   filter: drop-shadow(0 0 0.75rem rgb(0, 0, 0));
  
}


/*--Welcome--*/
.welcome-container {
   margin-top: 35px;
   margin-bottom: 35px;
}

.welcome-container h2 {
   text-align: center;
   color: #151712;
   font-family: 'Permanent Marker', sans-serif;
   font-size: 50px;
   text-align: center;
   margin: auto;
   padding: 30px;
   filter: drop-shadow(0 0 0.75rem rgb(0, 0, 0, 0.3));
}

.welcome-container p {
   font-family: "Ubuntu", sans-serif;
   padding: 30px;
   margin-top: 10px;
   margin-bottom: 10px;
   font-size: 20px;
   text-align: justify;
}

/*-------Renviews-----*/
.reviews {
   margin: 10px;
   padding-bottom: 20px;
   margin: auto;
}

.reviews h2 {
   text-align: center;
   color: #1A1A1A;
   font-family: 'Permanent Marker', sans-serif;
   font-size: 50px;
   text-align: center;
   margin: auto;
   padding: 30px;
   filter: drop-shadow(0 0 0.75rem rgb(0, 0, 0, 0.3));
}

.img-thumbnail {
   border-radius: 50%;
   width: 200px;
   background-color: #b4b4b4;
   margin: auto;
   border: none;
   filter: drop-shadow(0 0 0.75rem rgb(0, 0, 0));
}

.reviews h5 {
   font-family: 'Permanent Marker', sans-serif;
   text-align: center;
}

.reviews p {
   font-family: "Ubuntu", sans-serif;
   text-align: justify;
}

/*--Footer--*/

footer ul {
   list-style-type: none;
   margin: auto;
}

footer {
   background-color: #151712;
   color: #ababaa;
   padding: 3vh;
}

.footer-social a {
   font-size: x-large;
   color: #ababaa;
   margin: auto;
}

footer h5 {
   margin: auto;
}

@media only screen and (max-width: 768px) {
   .contact-footer {
      text-align: center;
   }
}

/*--Contact--*/
.form-container {
   background-color: #151712;
   padding-bottom: 70px;
   padding-right: 50px;
   padding-left: 50px;
}

.form-container fieldset {
   margin: auto;
   padding-top: 50px;
   padding-bottom: 50px;
   align-items: center;
}

#form-container {
   margin: auto;
}

.contact-form {
   margin: auto;

}


/*------------------------------------Contact Page Social Media-------------------------------*/
.contact-social ul li a {
   font-size: xxx-large;
   color: #a8a8a8;
}

.contact-social ul li a:hover {
   color: #151712;
}

.contact-social h2 {
   font-family: "Permanent Marker", sans-serif;
   font-size: 50px;
   color: #ababaa;
   margin: auto;
   padding: 30px;
}

/*---CARDS----*/
.lessons-cards {
   margin: 40px, 10px;
}

.lessons-container {
   padding-top: 50px;
   padding-bottom: 50px;
}

.lessons-container h2 {
   color: #ababaa;
   font-size: 50px;
   font-family: "Permanent Marker", sans-serif;
   margin-bottom: 25px;
   text-align: center;
}





/*-----------about-me----------*/

/*--Code from https://flaviocopes.com/responsive-youtube-videos/--*/
.video-container {
   overflow: hidden;
   position: relative;

}

.video-container::after {
   padding-top: 56.25%;
   display: block;
   content: '';
}

.video-container iframe {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
}